################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/albellicart
/src/.vs/Albellicart/v16
/src/Albellicart/bin/Debug/netcoreapp3.1
/src/Albellicart/obj
/src/Albellicart.Behaviour/bin/Debug/netcoreapp3.1
/src/Albellicart.Behaviour/obj
/src/Albellicart.Models/bin/Debug/netstandard2.0
/src/Albellicart.Models/obj
/src/Albellicart.Models.Behaviour/bin/Debug/netcoreapp3.1
/src/Albellicart.Models.Behaviour/obj
/src/Albellicart.Schema/obj
/src/.vs/Albellicart/DesignTimeBuild
/src/Albellicart.BusinessLogic/obj/Debug/netstandard2.1
/src/Albellicart.BusinessLogic/obj
/src/Albellicart.Models/bin/Debug/netstandard2.1
/src/Albellicart.BusinessLogic.Behaviour/obj
/src/Albellicart.BusinessLogic.Behaviour/bin/Debug/netcoreapp3.1
/src/Albellicart.Schema/bin/Debug
/src/Albellicart.BusinessLogic/bin/Debug/netstandard2.1
/src/Albellicart.Logging/obj
/src/Albellicart.Logging/obj
/src/Albellicart.Logging/obj
/src/Albellicart.Logging/bin/Debug/netstandard2.1
/src/published
/src/Albellicart.Schema.Behaviour/bin/Debug/netcoreapp3.1
/src/Albellicart.Schema.Behaviour/obj
/src/Albellicart.Behaviour/TestResults/83126eed-1c69-4fb4-b28a-2dba6b99c050
/src/Albellicart.BusinessLogic.Behaviour/TestResults/0f59d0cb-50fe-4a60-aacd-33ab3e08dc52
/src/Albellicart.Models.Behaviour/TestResults/10185834-cbae-46aa-827f-052c64729419
/src/Albellicart.Schema.Behaviour/TestResults/5473e99b-d72c-45f4-a870-4af4fb994076
